@{
    string token = (string)Session["access_token"];
    if (string.IsNullOrEmpty(token))
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("SignIn", "Home", null, Request.Url.Scheme)">Login</a></li>
        </ul>
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li><a href="@Url.Action("SignOut", "Home", null, Request.Url.Scheme)">Logout</a></li>
        </ul>
    }
}



